form {
    margin: 25px;
}

table {
    border-style: solid;
    width: 90%;
}

td,tr{
    border-style: solid;
    padding: 0.2em;
}

#showForm {
    margin: 25px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}